@charset "utf-8";

/* CSS Reset */
body, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, form{
    margin: 0px;
    padding: 0px;
}

li, dt, dd{
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #444;
}

body{
    background-color: #f6f6f6;
    font: 12px/1.5 tahoma,arial,"宋体";
}

.dib{
    display:inline-block;
    *display: inline;
    *zoom: 1;
}

.clearfix{
    *zoom: 1;
}

.clearfix:after{
    content: '\200B';
    display: block;
    width: 0px;
    height: 0px;
    font-size: 0px;
    visibility: hidden;
    clear: both;
}

.mid{
    width: 960px;
    margin: 0 auto;
}

.dn{
    display: none;
}

.fl{
    float: left;
}

.fn{
    float: none;
}

.fr{
    float: right;
}

/* 宽 */
.w20{
    width: 20px;
}

.w46{
    width: 46px;
}

.w150{
    width: 150px;
}

.w280{
    width: 280px;
}

.w960{
    width: 960px;
}

/* 外边距 */
.mt5{
    margin-top:5px;
}
.mt10{
    margin-top:10px;
}
.mt12{
    margin-top: 12px;
}
.mt30{
    margin-top:30px;
}

.mb0{
    margin-bottom:0
}
.mb5{
    margin-bottom:5px;
}
.mb10{
    margin-bottom:10px;
}
.mb20{
    margin-bottom:20px;
}
.mb30 {
    margin-bottom:30px;
}
.mb40{
    margin-bottom:40px;
}
.mtf5{
    margin-top:-5px;
}
.mt5{
    margin-top:5px;
}
.mt10{
    margin-top:10px;
}
.mt13{
    margin-top: 13px;
}
.mt17{
    margin-top: 17px;
}
.mt30{
    margin-top:30px;
}
.ml5{
    margin-left:5px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left:20px;
}
.ml-8{
    margin-left: -8px;
}
.mr3{
    margin-right:3px;
}
.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right:10px;
}
.mr15{
    margin-right:15px;
}
.mr20{
    margin-right: 20px;
}

/* 内边距 */
.pd0{
    padding: 0px;
}
